html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    
}

/* Endroit ou on voit les tentatives */
table {
  display: flex;
  justify-content: center;
  margin: 0px;
  
}

td {
    border:  2px solid black;
    height: 50px;
    width: 50px;
    background-color: white;
}

.return {
    width: 150px;
}

#table-wrapper {
    height: 72vh;
    overflow-y: scroll;
    margin: 5px;
}

#information {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Barre ou on met les tentatives */
#guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: seagreen;
    width: auto;
    height: 10vh;
}

#guess_answer {
    display: flex;
    justify-content: center;
    
    
}

#choice {
    display: flex;
    justify-content: center;
    
}
/* menu qui apparait pour choisir les couleurs */

#colors_dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 70%;
    border: 2px solid black;


    z-index: 2;
}


/* buttons  */
button {
    width: 10 px;
    margin: 10px;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color:salmon ;
    height: 10vh;
    align-items: center;

}

h1 {
    
    margin: 0;
    
}

.choice_button {
    height: 20px;
    width: 20px;
}

/*  buttons pour le choix des courleurs (pop up) */

#color1 {
    background-color: red;
}

#color2 {
    background-color: blue;
}

#color3 {
    background-color:yellow;
}

#color4 {
    background-color: green;
}

#color5 {
    background-color: orange;
}
