@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


html {
    height: 100%;
}

body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    
}

#top {
    width: 50%;
    height: 100%;
    background-color: #390066;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bot {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Endroit ou on voit les tentatives */

#G1 , #G2 , #G3 , #G4 {
    height: 80px;
    width: 80px;
}


table {
  display: flex;
  justify-content: center;
  margin: 0px;
  
}

td {
    border:  2px solid black;
    height: 35px;
    width: 35px;
    background-color: white;
    margin: 5px;
}

#en_bas {
    display: flex;
    align-items: center;
    flex-direction: column;

}



.return {
    width: 70px;
    border-width: 0;
}

#table-wrapper {
    height: 69vh;
    overflow-y: scroll;
    margin: 50px;
    margin-right: 0px;
}

#information {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-spacing: 5px 15px;
    border-collapse: separate;
}

/* Barre ou on met les tentatives */
#guess {

    margin: 0px;
    width: auto;
}

#guess_table {
    border-spacing: 15px;
    border-collapse: separate;
    margin: 0px;
}

#guess_answer {
    display: flex;
    justify-content: center;
    margin: 0px;
}

#choice {
    display: flex;
    justify-content: center;
    
}
/* menu qui apparait pour choisir les couleurs */

#colors_dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    border: collapse;

    background-color: #EEEEEE;
    margin: 0px;
    width: 70%;

}

#color_dropdown_table {
    border-spacing: 10px;
    border-collapse: separate;
    margin: 0px;
    
}

h4 {

}


/* buttons  */
button {
    
    padding: 20px;
    
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}

/* titre */
h1 {
    font-family: 'Pacifico', cursive;
    margin: 32;
    color: #FFFFFF;
    text-shadow: 4px 4px 0px rgba(255,255,255,0.25);
    font-size: 100px;
    font-weight: 400;
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin: 24px;

}

h3 {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}

h4 {
    font-family: 'Roboto', cursive;
    margin: 0px;
    font-size: 12px;
}

.choice_button {
    height: 20px;
    width: 20px;
}

/*  buttons pour le choix des courleurs (pop up) */

#color1 {
    background-color: rgb(112, 214, 255);
    height: 30px;
    width: 30px;
}

#color2 {
    background-color: rgb(255, 112, 166);
    height: 30px;
    width: 30px;
}

#color3 {
    background-color: rgb(255, 150, 112);
    height: 30px;
    width: 30px;
}

#color4 {
    background-color: rgb(255, 215, 112);
    height: 30px;
    width: 30px;
}

#color5 {
    background-color: rgb(233, 255, 112);
    height: 30px;
    width: 30px;
}
